body   {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial,
  Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson, .wd-assignment {
  border-left: 3px solid green !important;
}

.wd-border-superthin {
   border-width: 1px;
}

.group-form {
  border: 1px solid black;
}

.red-module {
  color: red;
}

.percent-total {
  border: 1px solid black;
  border-radius: 50px;
  width: fit-content;
  padding: 5px;
}

.assignment-editor-save {
  background-color: red;
  padding: 10px;
}
